html, body {
  margin: 0;
}

header {
  background-color:rgba(249, 79, 79, 0.952) ;
  display: flex;
  align-items: center
}

.container-logo {
  display: flex;
  align-items: center;
  margin: auto;
}

.logo-el {
  margin-right: 10px;
}

.logo-title {
  color: white;
  font-family: inter, sans-serif;

}

.main-el {
  background-color:  white;
  background-size: auto;
}